body {

	background-color: white;
	color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0;

}

.topContent {

	background-image: url(/images/nbbackground.png);
	background-origin: border-box;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 20px;

}

.header {

	width: 80%;
	margin: 10px auto 0;
	height: 63px;

}

.logoBox {

	float: left;

}

.nblogo {

	width: 250px;

}

.navigationBox {

	float: right;

}

.navigation {

	list-style-type: none;
	margin-top: 22px;

}

.navigation li {

	float: left;
    margin-left: 50px;

}

.navigation li a {

	color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}

.h1Box {

	width: 90%;
	text-align: center;
	margin: 80px auto 0;

}

h1 {

	font-size: 50px;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.siteBox {

    text-align: center;

}

.siteimg {

	width: 50%;
	min-width: 600px;
	max-width: 750px;
	transform: translateY(100px);
	box-shadow: grey 0px 20px 15px -8px;

}

.h2Box {

	width: 90%;
    text-align: center;
    margin: 220px auto 0;

}

h2 {

	color: #0b192b;
	font-size: 50px;
	margin-bottom: 10px;

}

.h2Box span {

	color: #0b192b;
	font-size: 18px;
	display: block;

}

@keyframes spin {

    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
    
}

.loader {

    border: 4px solid transparent;
    border-top: 4px solid #0b192b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: linear spin 1s infinite;
    margin: 0 auto;

}

.undeuxtrois {

    display: block;
    width: 90%;
    margin: 50px auto;
    height: 300px;
    text-align: center;
    max-width: 1000px;

}

.un {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.deux {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.trois {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.undeuxtrois div img {

    display: block;
    height: 70px;
    margin: 30px auto 70px;

}

.undeuxtrois div span {

    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #484849;

}

.lpHeader {

    width: 100%;
    height: 80px;
    background-color: #fefefe;
    border-bottom: 1px solid #dedede;
    padding-top: 27px;

}

.lpSiteName {

    font-size: 30px;

}

.lpSiteDesc {

    font-size: 20px;

}

.lpMiddle {

    width: 90%;
    margin: 40px auto;
    text-align: center;

}

.lpCenterTitle {

    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;

}

.col-left {

    width: 50%;
    float: left;

}

.lpSteps {

    list-style-type: decimal;
    margin: 0;
    float: right;
    margin-right: 40px;
    font-size: 20px;

}

.lpSteps li {

    text-align: left;
    padding: 10px 0 10px 30px;

}

.col-right {

    width: 50%;
    float: left;

}

.lpButton {

    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 420px;
    height: 80px;
    background: linear-gradient(to bottom,#ffc107 0,#ff9800 100%);
    border-color: #E65100;
    padding-top: 30px;
    transition: background .2s linear;
    border-radius: 90px;

}

.lpButtonText {

    display: inline;
    color: #fff;
    margin-left: -25px;
    font-size: 33px;

}

.lpButtonText img {

    width: 35px;
    margin-left: 40px;
    margin-top: 5px;
    float: left;

}

.lpButtonDisc {

    width: 420px;
    margin: 20px 0;
    font-size: 12px;

}

.lpButtonDisc a {

    color: #0b192b;

}

.lpDlInfo {

    width: 420px;
    background: lightgray;
    border: grey 2px solid;
    text-align: left;
    padding: 20px;
    padding-right: 0;

}

.lpDlInfo strong {

    margin-right: 10px;

}

/* MOBILE ADJUSTMENTS */

@media ( max-width: 750px ) {



}