body {

	background-color: white;
	color: white;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0;

}

.topContent {

	background-image: url(/images/neutronbackground.png);
	background-origin: border-box;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 20px;

}

.header {

	width: 80%;
    max-width: 1200px;
	margin: 10px auto 0;
	height: 63px;

}

.logoBox {

	float: left;

}

.nblogo {

	width: 175px;

}

.navigationBox {

	float: right;

}

.navigation {

	list-style-type: none;
	margin-top: 22px;

}

.navigation li {

	float: left;
    margin-left: 50px;

}

.navigation li a {

	color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.h1Box {

	width: 90%;
	text-align: center;
	margin: 60px auto 0;

}

h1 {

	font-size: 58px;
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;

}

.h2Box {

	width: 90%;
    text-align: center;
    margin: -16px auto 0;
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;

}

h2 {

    color: white;
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 200;

}

.dlBox {

    text-align: center;
    margin-top: 65px;

}

.dlButton {

    padding: 20px 40px;
    background: #5bc965;
    border-radius: 30px;
    font-size: 17px;
    letter-spacing: 3px;

}

.dlBox img {

    width: 35px;
    transform: translate(22px, 11px);

}

.siteBox {

    text-align: center;
    margin-top: -75px;

}

.siteimg {

    width: 50%;
    transform: translateY(150px);

}

.secondH1Box {

    margin-top: 235px;
    margin-bottom: 60px;
    color: #4b4b4b;
    text-align: center;
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;

}

.secondH1 {

    font-size: 40px;
    font-weight: bold;

}

.undeuxtrois {

    display: block;
    width: 90%;
    margin: 50px auto;
    height: 260px;
    text-align: center;
    max-width: 1000px;

}

.un {

    float: left;
    width: 29.33%;
    margin: 0 2%;

}

.deux {

    float: left;
    width: 29.33%;
    margin: 0 2%;

}

.trois {

    float: left;
    width: 29.33%;
    margin: 0 2%;

}

.undeuxtrois div img {

    display: block;
    height: 46px;
    margin: 30px auto 28px;

}

.udtHeader {

    font-size: 25px;
    color: #4b4b4b;
    margin-bottom: 25px;
    display: block;

}

.udtDesc {

    display: block;
    color: #717171;
    font-size: 16px;

}

.viewFeaturesBox {

    text-align: center;
    margin-top: 50px;

}

.viewFeatures {

    padding: 20px 40px;
    background: #5bc965;
    border-radius: 30px;
    font-size: 17px;
    letter-spacing: 3px;

}

.viewFeatures img {

    width: 35px;
    transform: rotate(-90deg) translate(-12px, 24px);

}

.testimonial {

    background: #3a80d1;
    margin-top: 110px;
    text-align: center;
    padding: 50px 0;

}

.testHead {

    font-size: 40px;
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    display: block;

}

.testimonial img {

    width: 31px;
    margin: 35px 0;

}

.testQuote {

    width: 70%;
    margin: 0 auto;
    max-width: 850px;
    font-size: 24px;
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;

}

.testName {

    display: block;
    margin: 50px auto 0;
    letter-spacing: 2px;
    font-size: 15px;

}

.getStarted {

    padding-top: 50px;
    text-align: center;
    border-bottom: solid lightgrey 1px;
    padding-bottom: 120px;

}

.getStartedH1 {

    color: #4b4b4b;
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    font-size: 40px;
    display: block;
    margin-bottom: 20px;

}

.getStartedH2 {

    color: #717171;
    font-size: 24px;

}

.footer {

    padding: 100px 0;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1000px;

}

.links1 {

    float: left;
    margin-right: 100px;

}

.links2 {

    float: left;

}

.footerRight {

    float: right;
    width: 266px;
    margin-top: -10px;

}

.footerRight img {

    display: block;
    width: 175px;
    margin-left: 89px;
    margin-bottom: 10px;

}

.footerRight span {

    color: #9d9d9d;
    display: block;
    font-size: 15px;

}

.footer a {

    display: block;
    text-decoration: none;
    color: #9d9d9d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 18px;

}

.lpHeader {

    width: 100%;
    height: 80px;
    background-color: #fefefe;
    border-bottom: 1px solid #dedede;
    padding-top: 27px;

}

.lpSiteName {

    font-size: 30px;

}

.lpSiteDesc {

    font-size: 20px;

}

.lpMiddle {

    width: 90%;
    margin: 60px auto;
    text-align: center;
    overflow: hidden;

}

.lpDownloadBox {

    margin-top: 60px;
    overflow: hidden;

}

.lpCenterTitle {

    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;

}

.col-left {

    width: 50%;
    float: left;

}

.lpSteps {

    list-style-type: decimal;
    margin: 0;
    float: right;
    margin-right: 120px;
    font-size: 25px;

}

.lpSteps li {

    text-align: left;
    padding: 10px 0 10px 30px;

}

.col-right {

    width: 50%;
    float: left;

}

.lpButton {

    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 420px;
    height: 80px;
    background: linear-gradient(to bottom,#ffc107 0,#ff9800 100%);
    border-color: #E65100;
    padding-top: 30px;
    transition: background .2s linear;
    border-radius: 90px;

}

.lpButtonText {

    display: inline;
    color: #fff;
    margin-left: -25px;
    font-size: 33px;

}

.lpButtonText img {

    width: 35px;
    margin-left: 40px;
    margin-top: 5px;
    float: left;

}

.lpButtonDisc {

    width: 420px;
    margin: 20px 0;
    font-size: 12px;

}

.lpButtonDisc a {

    color: #0b192b;

}

.lpDlInfo {

    width: 420px;
    background: lightgray;
    border: grey 2px solid;
    text-align: left;
    padding: 20px;
    padding-right: 0;
    display: inline-block;
    margin-top: 30px;

}

.lpDlInfo span {

    display: block;

}

.lpDlInfo strong {

    margin-right: 10px;

}

.features {

    width: 960px;
    margin: 30px auto;
    overflow: hidden;

}

.featureBox {

    float: left;
    width: 33.3%;

}

.featureBox img {

    display: block;
    height: 70px;
    margin: 30px auto 30px;

}

.featureBox span {

    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #484849;

}

.lpBottom {

    background-image: url(/images/shadow.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 10px;

}

.lpFeature {

    background-color: white;
    margin: 50px auto;
    overflow: hidden;
    width: 90%;
    max-width: 960px;
    padding: 20px 50px;

}

.lpFeatureTop {

    overflow: hidden;

}

.lpFeatureTop img {

    width: 18%;
    float: right;
    margin: -25px 0px;

}

.lpFeatureTopLeft {

    float: left;

}

.lpFeatureTopLeft h2 {

    margin: 0;
    font-size: 30px;

}

.lpFeatureButton {

    float: left;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 40%;
    height: 60px;
    background: linear-gradient(to bottom,#ffc107 0,#ff9800 100%);
    border-color: #E65100;
    padding-top: 10px;
    transition: background .2s linear;
    border-radius: 20px;

}

.lpFeatureSpan {

    float: right;
    width: 50%;
    margin-top: 15px;

}

.lp2Body {

    background: #dbdddc;
    font-family: Lato;

}

.lp2Header {

    height: 48px;
    background: #128de2;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;

}

.lp2Header span {

    position: fixed;
    right: 50%;
    transform: translateX(50%);
    font-weight: bold;
    line-height: 48px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 3px;
    font-size: 20px;

}

.lp2TopText {

    width: 980px;
    display: block;
    margin: 68px auto 0;
    height: 53px;
    background-color: #f4f4f4;

}

.lp2TopText h2 {

    font-size: 20px;
    font-family: "OpenSans-CondLight",sans-serif;
    color: #38383b;
    line-height: 53px;
    font-weight: 100;
    letter-spacing: 0px;
    margin-left: 22px;

}

.lp2TopText h2 span {

    color: #75b220;

}

.lp2Download {

    height: 292px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 980px;
    color: black;
    font-weight: 100;
    overflow: hidden;

}

.lp2ColLeft {

    float: left;
    width: 70%;

}

.lp2SysInfo {

    margin: 20px;
    border: lightgrey solid 1px;
    padding: 20px;
    overflow: hidden;

}

.lp2SysInfo img {

    height: 70px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;

}

.lp2SysInfoText {

    float: left;
    line-height: 30px;

}

.lp2SysInfoText span {

    display: block;

}

.lp2DownloadBox {

    padding: 0 20px;

}

.lp2Button {

    float: left;
    font-weight: 700;
    text-align: center;
    width: 60%;
    height: 55px;
    background: linear-gradient(to bottom,#82c11f 0,#62a804 100%);
    box-shadow: 0 4px 4px rgba(125,125,125,.34);
    padding-top: 20px;
    transition: background .2s linear;
    border-radius: 10px;

}

.lp2ButtonText {

    display: inline;
    color: #fff;
    font-size: 25px;

}

.lp2ButtonText img {

    width: 35px;
    margin-left: 40px;
    float: left;

}

.lp2DownloadInfo {

    float: left;
    width: 40%;
    text-align: right;

}

.lp2ColRight {

    float: left;

}

.lp2Review {

    height: 214px;
    width: 246px;
    background-color: #fafafa;
    margin-top: 30px;
    margin-left: 30px;
    border-top: 2px solid #b8d880;
    padding: 24px 0 0 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Open sans", sans-serif;
    color: #7f8386;

}

.fivestar {

    background: url(images/5star.png) no-repeat;
    width: 72px;
    height: 11px;
    display: inline-block;

}

.lp2StripText {

    width: 980px;
    display: block;
    margin: 0 auto;
    height: 78px;
    background-color: #f4f4f4;

}

.lp2StripText h2 {

    font-size: 20px;
    font-family: "OpenSans-CondLight",sans-serif;
    color: #38383b;
    line-height: 53px;
    font-weight: 100;
    letter-spacing: 0px;
    margin-left: 22px;

}

.lp2StripText h2 span {

    color: #75b220;

}

.lp2Ticks {

    display: block;
    width: 980px;
    height: 157px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 0 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.lp2TickBox {

    display: inline-block;
    width: 400px;
    margin-bottom: 12px;
    line-height: 26px;

}

.lp2TickBoxImg {

    height: 30px;
    display: inline-block;
    vertical-align: top;

}

.lp2TickBoxText {

    display: inline-block;
    vertical-align: top;
    font-family: "Open sans",sans-serif;
    color: #4f4f50;
    padding-left: 26px;

}

.lp2BottomDownload {

    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 980px;
    color: black;
    font-weight: 100;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;

}

.lp2BottomWindowsCompat {

    float: left;
    margin-left: 50px;
    margin-right: 50px;

}

.lp2BottomInfo {

    text-align: right;
    float: left;
    margin-top: 36px;

}

.lp2Footer {

    border-top: solid 2px #2da2f3;
    background: #fff;
    text-align: center;
    color: black;
    margin-top: 20px;
    padding-bottom: 50px;

}

.lp2FooterDisc {

    width: 500px;
    margin: 50px auto 0;

}

/* MOBILE ADJUSTMENTS */

@media ( max-width: 750px ) {



}