body {

	background-color: white;
	color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0;

}

.topContent {

	background-image: url(/images/nbbackground.png);
    background-origin: border-box;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

.header {

	width: 80%;
	margin: 0 auto;
    padding: 20px 0 0;
    height: 63px;

}

.logoBox {

	float: left;

}

.nblogo {

	width: 250px;

}

.navigationBox {

	float: right;

}

.navigation {

	list-style-type: none;
	margin-top: 22px;

}

.navigation li {

	float: left;
    margin-left: 50px;

}

.navigation li a {

	color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}

.h1Box {

	width: 90%;
    text-align: center;
    margin: 11% auto 0;

}

h1 {

	font-size: 60px;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.siteBox {

    text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

}

.siteimg {

	width: 80%;
	transform: translateY(100px);
	box-shadow: grey 0px 20px 15px -8px;

}

.h2Box {

	width: 90%;
    text-align: center;
    margin: 220px auto 0;

}

h2 {

	color: #0b192b;
	font-size: 50px;
	margin-bottom: 10px;

}

.h2Box span {

	color: #0b192b;
	font-size: 18px;
	display: block;

}

.questionBox {

	color: #0b192b;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;

}

.iamaSelect {

	height: 36px;
    transform: translateY(-4px);
    font-size: 20px;
    margin-left: 10px;
	
}

.question2 {

	display: none;

}

.nameInput {

	line-height: 25px;
    border: none;
    font-size: 30px;
    text-align: center;
    width: 200px;

}

.phoneInput {

	line-height: 25px;
    border: none;
    font-size: 30px;
    text-align: center;
    width: 250px;
    margin-left: 10px;
	
}

.question3 {

	display: none;

}

.userSite {

	margin: 50px auto;
	text-align: center;
	width: 80%;
    max-width: 1000px;

}

.browserTop {

	background-color: #f5f5f6;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    height: 60px;
    border-bottom-right-radius: 0;

}

.omnibox {

	background-color: white;
	float: left;
	margin-left: 4%;
	margin-top: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0.5px lightgrey;
    width: 65%;

}

.omnibox img {

	width: 16%;
    margin-top: 5px;
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;

}

.omnibox span {

	color: #0b192b;
	float: left;
    margin-top: 7px;
    margin-left: 10px;
    text-transform: lowercase;

}

.browserContent {

	border: #f5f5f6 2px solid;
	border-radius: 10px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0; 

}

.defaultContent {

	width: 100%;
    height: 320px;
    text-align: center;
    background-color: grey;
    padding-top: 220px;
    border: #f5f5f6 2px solid;
	border-radius: 10px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

}

.defaultContent span {

	font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;

}

.loadingContent {

	width: 100px;
	margin: 0 auto;
	padding: 120px 0 352px;
	display: none;

}

@keyframes spin {

    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
    
}

.loader {

	border: 4px solid transparent;
    border-top: 4px solid #0b192b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: linear spin 1s infinite;
    margin: 0 auto;
    	
}

.theirContent {

	background-size: cover;
	display: none;
	height: 540px;
	border: #f5f5f6 2px solid;
	border-radius: 10px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

}

.theirHeader {

	height: 100px;
	width: 100%;

}

.theirPhone {

	font-size: 15px;
	float: left;
    margin: 20px 0 0 20px;

}

.theirPages {

	font-size: 15px;
	float: right;
	margin: 20px 20px 0 0;

}

.theirPages span {

	margin-left: 20px;

}

.theirBody {

	width: 100%;
	text-align: center;
	margin-top: 110px;

}

.theirName {

	text-transform: uppercase;
	font-size: 45px;

}

.theirTrade {

	font-size: 20px;
	display: block;

}

.nextButton {

	margin-left: 30px;
    font-size: 20px;
    border: green 2px solid;
    padding: 10px 20px;
    color: green;
    border-radius: 20px;
    font-weight: 500;
    display: none;
    cursor: pointer;
    transition:.5s;

}

.nextButton:hover {

	background-color: green;
	color: white;

}

/* MOBILE ADJUSTMENTS */

@media ( max-width: 750px ) {

	.navigationBox {

		display: none;

	}

	.logoBox {

		float: none;
		text-align: center;

	}

	.nblogo {

		width: 80%;
    	max-width: 250px;

	}

	h1 {

		font-size: 35px;

	}

	.siteimg {

		width: 80%;
    	min-width: inherit;

	}

	.h1Box {

		margin-top: 40px;

	}

}