body {

	background-color: white;
	color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0;

}

.topContent {

	background-image: url(/images/nbbackground.png);
	background-origin: border-box;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 20px;

}

.header {

	width: 80%;
	margin: 10px auto 0;
	height: 63px;

}

.logoBox {

	float: left;

}

.nblogo {

	width: 250px;

}

.navigationBox {

	float: right;

}

.navigation {

	list-style-type: none;
	margin-top: 22px;

}

.navigation li {

	float: left;
    margin-left: 50px;

}

.navigation li a {

	color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}

.h1Box {

	width: 90%;
	text-align: center;
	margin: 80px auto 0;

}

h1 {

	font-size: 50px;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.siteBox {

    text-align: center;

}

.siteimg {

	width: 50%;
	min-width: 600px;
	max-width: 750px;
	transform: translateY(100px);
	box-shadow: grey 0px 20px 15px -8px;

}

.h2Box {

	width: 90%;
    text-align: center;
    margin: 220px auto 0;

}

h2 {

	color: #0b192b;
	font-size: 50px;
	margin-bottom: 10px;

}

.h2Box span {

	color: #0b192b;
	font-size: 18px;
	display: block;

}

@keyframes spin {

    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
    
}

.loader {

    border: 4px solid transparent;
    border-top: 4px solid #0b192b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: linear spin 1s infinite;
    margin: 0 auto;

}

.undeuxtrois {

    display: block;
    width: 90%;
    margin: 50px auto;
    height: 300px;
    text-align: center;
    max-width: 1000px;

}

.un {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.deux {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.trois {

    float: left;
    width: 22.5%;
    margin: 0 5%;

}

.undeuxtrois div img {

    display: block;
    height: 70px;
    margin: 30px auto 70px;

}

.undeuxtrois div span {

    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #484849;

}

.lpHeader {

    width: 100%;
    height: 80px;
    background-color: #fefefe;
    border-bottom: 1px solid #dedede;
    padding-top: 27px;

}

.lpSiteName {

    font-size: 30px;

}

.lpSiteDesc {

    font-size: 20px;

}

.lpMiddle {

    width: 90%;
    margin: 60px auto;
    text-align: center;
    overflow: hidden;

}

.lpDownloadBox {

    margin-top: 60px;
    overflow: hidden;

}

.lpCenterTitle {

    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;

}

.col-left {

    width: 50%;
    float: left;

}

.lpSteps {

    list-style-type: decimal;
    margin: 0;
    float: right;
    margin-right: 120px;
    font-size: 25px;

}

.lpSteps li {

    text-align: left;
    padding: 10px 0 10px 30px;

}

.col-right {

    width: 50%;
    float: left;

}

.lpButton {

    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 420px;
    height: 80px;
    background: linear-gradient(to bottom,#ffc107 0,#ff9800 100%);
    border-color: #E65100;
    padding-top: 30px;
    transition: background .2s linear;
    border-radius: 90px;

}

.lpButtonText {

    display: inline;
    color: #fff;
    margin-left: -25px;
    font-size: 33px;

}

.lpButtonText img {

    width: 35px;
    margin-left: 40px;
    margin-top: 5px;
    float: left;

}

.lpButtonDisc {

    width: 420px;
    margin: 20px 0;
    font-size: 12px;

}

.lpButtonDisc a {

    color: #0b192b;

}

.lpDlInfo {

    width: 420px;
    background: lightgray;
    border: grey 2px solid;
    text-align: left;
    padding: 20px;
    padding-right: 0;
    display: inline-block;
    margin-top: 30px;

}

.lpDlInfo span {

    display: block;

}

.lpDlInfo strong {

    margin-right: 10px;

}

.features {

    width: 960px;
    margin: 30px auto;
    overflow: hidden;

}

.featureBox {

    float: left;
    width: 33.3%;

}

.featureBox img {

    display: block;
    height: 70px;
    margin: 30px auto 30px;

}

.featureBox span {

    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #484849;

}

.lpBottom {

    background-image: url(/images/shadow.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 10px;

}

.lpFeature {

    background-color: white;
    margin: 50px auto;
    overflow: hidden;
    width: 90%;
    max-width: 960px;
    padding: 20px 50px;

}

.lpFeatureTop {

    overflow: hidden;

}

.lpFeatureTop img {

    width: 18%;
    float: right;
    margin: -25px 0px;

}

.lpFeatureTopLeft {

    float: left;

}

.lpFeatureTopLeft h2 {

    margin: 0;
    font-size: 30px;

}

.lpFeatureButton {

    float: left;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 40%;
    height: 60px;
    background: linear-gradient(to bottom,#ffc107 0,#ff9800 100%);
    border-color: #E65100;
    padding-top: 10px;
    transition: background .2s linear;
    border-radius: 20px;

}

.lpFeatureSpan {

    float: right;
    width: 50%;
    margin-top: 15px;

}

.lp2Body {

    background: #dbdddc;

}

.lp2Header {

    height: 48px;
    background: #128de2;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;

}

.lp2Header span {

    position: fixed;
    right: 50%;
    transform: translateX(50%);
    font-weight: bold;
    line-height: 48px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 3px;
    font-size: 20px;

}

.lp2TopText {

    width: 980px;
    display: block;
    margin: 48px auto 0;
    height: 53px;
    background-color: #f4f4f4;

}

.lp2TopText h2 {

    font-size: 20px;
    font-family: "OpenSans-CondLight",sans-serif;
    color: #38383b;
    line-height: 53px;
    font-weight: 100;
    letter-spacing: 0px;
    margin-left: 22px;

}

.lp2TopText h2 span {

    color: #75b220;

}

.lp2Download {

    height: 292px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 980px;
    color: black;
    font-weight: 100;
    overflow: hidden;

}

.lp2ColLeft {

    float: left;
    width: 70%;

}

.lp2SysInfo {

    margin: 20px;
    border: lightgrey solid 1px;
    padding: 20px;
    overflow: hidden;

}

.lp2SysInfo img {

    height: 70px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;

}

.lp2SysInfoText {

    float: left;
    line-height: 30px;

}

.lp2SysInfoText span {

    display: block;

}

.lp2DownloadBox {

    padding: 0 20px;

}

.lp2Button {

    float: left;
    font-weight: 700;
    text-align: center;
    width: 60%;
    height: 55px;
    background: linear-gradient(to bottom,#82c11f 0,#62a804 100%);
    box-shadow: 0 4px 4px rgba(125,125,125,.34);
    padding-top: 20px;
    transition: background .2s linear;
    border-radius: 10px;

}

.lp2ButtonText {

    display: inline;
    color: #fff;
    font-size: 25px;

}

.lp2ButtonText img {

    width: 35px;
    margin-left: 40px;
    float: left;

}

.lp2DownloadInfo {

    float: left;
    width: 40%;
    text-align: right;

}

.lp2ColRight {

    float: left;

}

.lp2Review {

    height: 214px;
    width: 246px;
    background-color: #fafafa;
    margin-top: 30px;
    margin-left: 30px;
    border-top: 2px solid #b8d880;
    padding: 24px 0 0 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Open sans", sans-serif;
    color: #7f8386;

}

.fivestar {

    background: url(images/5star.png) no-repeat;
    width: 72px;
    height: 11px;
    display: inline-block;

}

.lp2StripText {

    width: 980px;
    display: block;
    margin: 0 auto;
    height: 78px;
    background-color: #f4f4f4;

}

.lp2StripText h2 {

    font-size: 20px;
    font-family: "OpenSans-CondLight",sans-serif;
    color: #38383b;
    line-height: 53px;
    font-weight: 100;
    letter-spacing: 0px;
    margin-left: 22px;

}

.lp2StripText h2 span {

    color: #75b220;

}

.lp2Ticks {

    display: block;
    width: 980px;
    height: 157px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 0 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.lp2TickBox {

    display: inline-block;
    width: 400px;
    margin-bottom: 12px;
    line-height: 26px;

}

.lp2TickBoxImg {

    height: 30px;
    display: inline-block;
    vertical-align: top;

}

.lp2TickBoxText {

    display: inline-block;
    vertical-align: top;
    font-family: "Open sans",sans-serif;
    color: #4f4f50;
    padding-left: 26px;

}

.lp2BottomDownload {

    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 980px;
    color: black;
    font-weight: 100;
    overflow: hidden;

}



/* MOBILE ADJUSTMENTS */

@media ( max-width: 750px ) {



}